$primary: #da5614;
$secondary: #6C0102;
$light: #C0D6FF;


@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';